apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: fitcoach
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
        - name: gateway
          image: csborges/api-gateway:latest
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: config
              mountPath: /config
      volumes:
        - name: config
          configMap:
            name: api-gateway-config