apiVersion: apps/v1
kind: Deployment
metadata:
  name: discovery-server
  namespace: fitcoach
spec:
  replicas: 1
  selector:
    matchLabels:
      app: discovery-server
  template:
    metadata:
      labels:
        app: discovery-server
    spec:
      containers:
        - name: discovery-server
          image: csborges/discovery-server:latest
          ports:
            - containerPort: 8761

          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8761
            initialDelaySeconds: 60
            periodSeconds: 20

          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8761
            initialDelaySeconds: 40
            periodSeconds: 10
            failureThreshold: 5