apiVersion: apps/v1
kind: Deployment
metadata:
  name: jaeger
  namespace: fitcoach
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jaeger
  template:
    metadata:
      labels:
        app: jaeger
    spec:
      containers:
        - name: jaeger
          image: jaegertracing/all-in-one:1.41
          ports:
            - containerPort: 6831   # UDP for thrift/compact (old)
            - containerPort: 6832
            - containerPort: 14250  # gRPC
            - containerPort: 16686  # UI
---
apiVersion: v1
kind: Service
metadata:
  name: jaeger
  namespace: fitcoach
spec:
  ports:
    - name: jaeger-ui
      port: 16686
    - name: jaeger-grpc
      port: 14250
  selector:
    app: jaeger
  type: ClusterIP
