apiVersion: v1
kind: Service
metadata:
  name: main-postgres
  namespace: fitcoach
spec:
  ports:
    - port: 5432
  clusterIP: None
  selector:
    app: main-postgres
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: main-postgres
  namespace: fitcoach
spec:
  serviceName: "main-postgres"
  replicas: 1
  selector:
    matchLabels:
      app: main-postgres
  template:
    metadata:
      labels:
        app: main-postgres
    spec:
      containers:
        - name: postgres
          image: postgres:15
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              value: maindb
            - name: POSTGRES_USER
              value: postgres
            - name: POSTGRES_PASSWORD
              value: admin
          volumeMounts:
            - name: postgres-data
              mountPath: /var/lib/postgresql/data
  volumeClaimTemplates:
    - metadata:
        name: postgres-data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 1Gi
