version: "3.8"
services:

  mongo:
    image: mongo:6.0
    container_name: workout_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  rabbitmq:
    image: rabbitmq:3-management
    container_name: workout_rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672" # management UI
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  workout-service:
    build: .
    image: fitcoach/workout-service:local
    container_name: workout_service_local
    depends_on:
      - mongo
      - rabbitmq
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=local

volumes:
  mongo_data:
